<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <header class="bg-[#3366cc] py-2">
        <!-- contenido del encabezado -->
        <div class="max-w-screen-xl mx-auto px-4">
            <div class="flex flex-wrap items-center">
                <div class="w-1/4 md:w-1/6 lg:w-1/12 flex justify-start">
                    <a href="https://www.gov.co/">
                        <img src="./images/logo/logo_gov.png" alt="LogoGov" class="py-1" />
                    </a>
                </div>
            </div>
        </div>
    </header>

    <div class="container headers mt-2">
        <!-- contenido de la cabecera principal -->
    </div>
    <!-- mensaje de alerta -->
    <div class="flex max-w-4xl mx-auto flex-col md:flex-row bg-yellow-100 border-l-4 border-yellow-500 text-yellow-700 p-4 rounded-lg flex items-center">
        <svg class="h-5 w-5 mr-2 flex-shrink-0" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd">
        </path></svg><div><span class="font-medium">Demo en desarrollo: </span>
        <span>Este modelo no es válido para trámites oficiales en este momento</span></div></div>
        
    <div class="container mx-auto">
        <!-- Contenido insertado -->
        <div class="bg-white rounded-lg shadow-md p-5 max-w-4xl text-center mx-auto my-10">
    <img alt="Migración Colombia Logo" src="./images/logo_migracion.png" class="mb-4 mx-auto" width="400" height="100">
    <h3 class="text-center text-gray-800 text-lg md:text-xl lg:text-lg px-4 leading-relaxed mb-4 font-family:FrutigerNextLT-BoldCond_1">
        Permiso Especial de Permanencia para representantes legales o custodios de niñas, niños y adolescentes (PEP-TUTOR)
    </h3>
    <!-- Ajuste de flex en pantallas grandes y apilado en pantallas pequeñas -->
    <div class="flex flex-col md:flex-row justify-between space-y-4 md:space-y-0 md:space-x-4">
        <!-- Botón Consultar -->
        <div class="flex flex-col items-center bg-gray-100 rounded-lg p-4 w-full md:w-1/3 shadow-md hover:shadow-lg transition cursor-pointer">
            <div class="bg-blue-100 rounded-full p-3 mb-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search w-8 h-8 text-sky-500">
                    <circle cx="11" cy="11" r="8"></circle><path d="m21 21-4.3-4.3"></path>
                </svg>
            </div>
            <p class="text-gray-500 text-sm">Registro Especial PepTutor</p>
            <button class="text-blue-600 font-semibold" >CONSULTAR</button>
        </div>
        
        <!-- Botón Registrar -->
        <div class="flex flex-col items-center bg-gray-100 rounded-lg p-4 w-full md:w-1/3 shadow-md hover:shadow-lg transition cursor-pointer ">
            <div class="bg-blue-100 rounded-full p-3 mb-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-baby w-8 h-8 text-sky-500">
                    <path d="M9 12h.01"></path><path d="M15 12h.01"></path>
                    <path d="M10 16c.5.3 1.2.5 2 .5s1.5-.2 2-.5"></path><path d="M19 6.3a9 9 0 0 1 1.8 3.9 2 2 0 0 1 0 3.6 9 9 0 0 1-17.6 0 2 2 0 0 1 0-3.6A9 9 0 0 1 12 3c2 0 3.5 1.1 3.5 2.5s-.9 2.5-2 2.5c-.8 0-1.5-.4-1.5-1"></path>
                </svg>
            </div>
            <p class="text-gray-500 text-sm">Registro Especial PepTutor</p>
            <button class="text-blue-600 font-semibold">REGISTRAR</button>
        </div>
        
        <!-- Botón PQR -->
        <div class="flex flex-col items-center bg-gray-100 rounded-lg p-4 w-full md:w-1/3 shadow-md hover:shadow-lg transition cursor-pointer">
            <div class="bg-blue-100 rounded-full p-3 mb-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-unplug w-8 h-8 text-sky-500">
                    <path d="m19 5 3-3"></path><path d="m2 22 3-3"></path>
                    <path d="M6.3 20.3a2.4 2.4 0 0 0 3.4 0L12 18l-6-6-2.3 2.3a2.4 2.4 0 0 0 0 3.4Z"></path><path d="M7.5 13.5 10 11"></path>
                    <path d="M10.5 16.5 13 14"></path><path d="m12 6 6 6 2.3-2.3a2.4 2.4 0 0 0 0-3.4l-2.6-2.6a2.4 2.4 0 0 0-3.4 0Z"></path>
                </svg>
            </div>
            <p class="text-gray-500 text-sm">Consultar - Radicar</p>
            <button class="text-blue-600 font-semibold">PQRS</button>
        </div>
    </div>
</div>
            </div>
        </div>
    </div>
    
    <footer class="bg-gray-800 text-white">
        <div class="bg-[#004884]">
            <div class="py-8 max-w-screen-xl mx-auto px-1 mt-24 text-xs">
                <div class="bg-white grid grid-cols-1 md:grid-cols-2 gap-5 text-black p-5 max-w-full rounded">
                    <!-- Información de contacto -->
                    <div>
                        <h2 class="text-lg font-bold">MIGRACIÓN COLOMBIA</h2>
                        <p class="mb-4" ng-if="::main.footer.address">
                            Dirección: Sede administrativa, Calle 24A No 59-42 Edificio Argos Torre 3
                        </p>
                        <p class="mb-4" ng-if="::main.footer.operationHours">
                            Horario de atención: En la sede administrativa no hay atención al público.
                        </p>
                        <p class="mb-4" ng-if="::main.footer.phone">
                            Teléfono Conmutador: +57 (601) 611 6170
                        </p>
                        <p class="mb-4" ng-if="::main.footer.freeCareLine">
                            Línea de atención gratuita: 01 8000 128 662
                        </p>
                        <p class="mb-4" ng-if="::main.footer.antiCorruptionLine">
                            Línea anticorrupción: +57 (601) 611 6177
                        </p>
                        <p class="mb-4 w-full text-left  sm:w-[10px]" ng-if="::main.footer.email">
                            Correo institucional: autoridades.administrativas@migracioncolombia.gov.co
                        </p>
                        <p class="mb-4" ng-if="::main.footer.emailNotification">
                            Correo de notificaciones judiciales: noti.judiciales@migracioncolombia.gov.co
                        </p>
                    </div>
        
                    <!-- Contenedor de logos y reloj -->
                    <div class="flex flex-col items-center md:items-end space-y-4 md:space-y-0">
                        <!-- Logos en la misma línea -->
                        <div class="flex space-x-5">
                            <img src="./images/logo/2463_logogobierno300x300_200x200.png" alt="Logo Gobierno" class="w-20 h-auto">
                            <div class="divide-x"></div>
                            <img src="./images/logo/2464_logomigracion300x400_200x200.png" alt="Logo Migración" class="w-20 h-auto">
                        </div>
                        <!-- Reloj debajo de los logos -->
                        <div class="mt-4 w-full flex sm:justify-start md:justify-center overflow-hidden">
                            <iframe 
                                src="https://horalegalnueva.inm.gov.co/inm/" 
                                class="border-none w-full sm:w-[500px] md:w-[510px] h-[80px]">
                            </iframe>
                        </div>
                    </div>
                </div>
        
                <!-- Redes sociales y enlaces -->
                <div class="mt-5 flex flex-col sm:flex-row space-y-4 sm:space-y-0 justify-between items-center text-sm">
                    <div class="flex space-x-1">
                        <a href="https://web.facebook.com/MigracionCol/" class="text-white hover:text-gray-400 text-sm"  target="_blank">
                            <i class="fab fa-facebook-f"></i> @Migración Colombia
                        </a>
                        <a href="https://twitter.com/migracioncol" class="text-white hover:text-gray-400 text-sm" target="_blank">
                            <i class="fab fa-twitter"></i> @MigracionCol
                        </a>
                        <a href="https://www.youtube.com/migracioncol" class="text-white hover:text-gray-400 text-sm" target="_blank">
                            <i class="fab fa-youtube"></i> @migracioncol
                        </a>
                        <a href="https://www.instagram.com/migracioncol/" class="text-white hover:text-gray-400 text-sm" target="_blank">
                            <i class="fab fa-instagram"></i> @migracioncol
                        </a>
                    </div>
                    <!-- Puedes añadir otros enlaces aquí si lo necesitas -->
                </div>
            </div>
        </div>
        <div class="bg-[#3366cc] py-3">
            <div class="max-w-screen-xl mx-auto flex justify-between items-center text-sm">
                <a href="https://home.micolombiadigital.gov.co/territorial/" class="flex items-center text-white" target="_blank">
                    Creado por Ministerio TIC
                    <img src="./images/colombia.png" alt="Bandera Colombia" class="ml-2 w-6 h-6">
                </a>
                <div class="flex space-x-4">
                    <a href="https://www.colombia.co" class="text-white">
                        <img src="./images/logo/logo_co_footer.png" alt="logo co" class="w-12">
                    </a>
                    <a href="https://www.gov.co" class="text-white">
                        <img src="./images/logo/logo_gov.png" alt="logo gov" class="w-20">
                    </a>
                </div>
            </div>
        </div>
    </footer>
    
    <!-- Menú de accesibilidad -->
    <!-- <div id="accesibilidad-menu" class="fixed bottom-4 right-4 bg-white rounded shadow p-3 flex space-x-4">
        <a href="#" id="high_contrast" class="flex items-center space-x-2">
            <img src="./images/ico/channels-616_icon_contrast.svg" alt="Contraste" class="w-6 h-6">
            <span>Contraste</span>
        </a>
        <a href="#" id="a_less" class="flex items-center space-x-2">
            <img src="./images/ico/channels-616_icon_less_size.svg" alt="Reducir texto" class="w-6 h-6">
            <span>Reducir letra</span>
        </a>
        <a href="#" id="a_more" class="flex items-center space-x-2">
            <img src="./images/ico/channels-616_icon_more_size.svg" alt="Aumentar texto" class="w-6 h-6">
            <span>Aumentar letra</span>
        </a>
    </div> -->
    
    <!-- Scripts -->
    <script src="https://cdn.www.gov.co/layout/v4/script.js"></script>
    <script src="/js/accesibilidad.js"></script>
    

      
       
</body>
</html>